* {
    box-sizing: border-box;
}
html {
    width: 100%;
    font-size: 1rem;
    background-color: rgb(38, 80, 143);
    display: flex;
    justify-content: center;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(76, 115, 175) 3px solid;
    border-radius: 2rem;
    border-bottom: none;
    padding: 1.8rem 0 5rem 0;
    width: 96vw;
}
.question-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15rem;
    color: rgb(38, 80, 143);
    background-color: rgb(76, 115, 175);
    border-radius: 2rem;
    width: 15rem;
    height: 15rem;
    margin: 0;
}
.guess-hint {
    font-family: cursive;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0;
    margin-top: 0.9rem;
}
.main-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.1rem;
    width: 90%;  
}
.typing-area {
    text-align: center;
    font-family: cursive;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(38, 80, 143);
    background-color: white;
    border: rgb(76, 115, 175) 5px solid;
    border-radius: 3rem;
    height: 3.75rem;
    width: 55%;
    margin: 0 1rem 0 1rem;
}
.typing-area::placeholder {
    text-align: center;
    font-weight: normal;
    color: rgb(38, 80, 143);
}
.reset-button, .submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    background-color: rgb(253, 123, 123);
    border: white 1px solid;
    border-radius: 3rem;
    height: 3rem;
    width: 6rem;
}
.reset-button:hover, .submit-button:hover {
    transform: scale(1.2, 1.2);
    font-weight: bold;
    background-color: rgb(241, 90, 90);
}
.range-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(76, 115, 175);
    border-radius: 3rem;
    height: 3rem;
    margin-top: 2rem;
    width: 90%;
}
.minimum-input, .maximum-input {
    text-align: center;
    font-family: cursive;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(38, 80, 143);
    background-color: rgb(250, 252, 148);
    border: white 3px solid;
    border-radius: 3rem;
    height: 3rem;
    width: 6rem;
}
.minimum-input::placeholder, .maximum-input::placeholder {
    text-align: center;
    font-weight: bold;
    color: rgb(38, 80, 143);
}
section p {
    transform: scale(2, 1);
    font-size: 1.5rem;
    color: white;
    padding: 0 1rem 0 1rem;
}
.guess-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: cursive;
    font-size: 1.4rem;
    cursor: pointer;
    color: white;
    background-color: rgb(76, 115, 175);
    border: white 1px solid;
    border-radius: 3rem;
    height: 3rem;
    padding: 0 5%;
    margin-top: -2.9rem;
}
.guess-counter:hover {
    font-weight: bold;
    color: rgb(38, 80, 143);   
}
.guess-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: white;
    background-color: rgb(38, 80, 143);
    border: white 1px solid;
    border-radius: 3rem;
    height: 2.3rem;
    width: 6rem;
}
.history-list {
    display: flex;
    flex-direction: column;
    
}
.history-list-element {
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: bold;
    border: rgb(76, 115, 175) 1px solid;
    border-radius: 3rem;
    padding-left: 5%;
    margin-top: 0.5rem;
}
.history-list-element::before {
    content: "•";
}
.correct-answer {
    animation: winner-number 2s linear infinite;
    background: none;
}
@keyframes winner-number {
    0% {color: rgb(68, 250, 189);}
    50% {color: rgb(250, 252, 148);}
    100% {color: rgb(253, 123, 123);}
}
.very-close-answer {
    color: rgb(68, 250, 189);
}
.close-answer {
    color: rgb(250, 252, 148);
}
.far-answer {
    color: rgb(253, 123, 123);
}

@media (max-width: 520px) {
    .guess-hint {
        font-size: 2.2rem;
    }
}
@media (max-width: 480px) {
    .question-mark {
        height: 12rem;
        width: 12rem;
    }
}
@media (min-width: 650px) {
    body {
        margin: 0 20%;
    }
}
@media (min-width: 600px) {
    .frame {
        width: 36rem;
    }
    .guess-counter {
        width: 36rem;
    }
    .history-list-element {
        width: 36rem;
    }
}

